nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 100%;
  background-color: #FFFFFF;
  line-height: 4em;
  text-transform: uppercase;
  font-size: calc(0.5rem + 1.5vw);

  & > div:first-of-type {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }

  & > div:last-of-type {
    width: 30%;
    height: 100%;
    display:flex;
    justify-content: space-around;

    .social-media-div {
      height: 4em;
      width: 4em;

      .social-media {
        float: left;
        height: 2em;
        width: 2em;
        background-color: #ffff4f;
      }
    }
  }
}
